<nav class="navbar navbar-default navbar-static-topnavbar navbar navbar-inverse" role="navigation">
    <div class="container ">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                    data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id='index' href={% url 'index-view' %} class="navbar-brand"><span
                    class="glyphicon glyphicon-home"></span> HiLight!</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="about">
                    <a href="#"><span class="glyphicon glyphicon-apple"
                                      aria-hidden="true"></span>&nbsp;&nbsp;关于</a></li>
                <li id="messageboard">
                    <a href="{% url 'message_view' %}"><span class="glyphicon glyphicon-send"
                                                             aria-hidden="true"></span>&nbsp;&nbsp;留言板</a></li>
                <li id="Python">
                    <a href="/type/Python">Python</a></li>
                <li id="Java">
                    <a href="/type/Java">Java</a></li>
                <li id="Django">
                    <a href="/type/Django">Django</a></li>
                <li id="Android">
                    <a href="/type/Android">Android</a></li>
                <li id="eassy">
                    <a href="{% url 'message_view' %}">随笔</a></li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span class="glyphicon glyphicon-user"
                                                       aria-hidden="true">&nbsp</span>{{ user.name }} <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a id='logout'>注销</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-toggle="modal" data-target="#myModal-register">注册</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-toggle="modal" data-target="#myModal-login">登陆</a></li>
                </ul>
                {% include 'login_modal.html' %}
                {% include 'register_modal.html' %}
            {% endif %}
            {% if user.is_staff %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'create_view' %}"><span
                            class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;写一篇</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
    </div>
</nav>
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
    });
    $(".current_url").attr({'value': window.location.href});

    //检测邮箱和用户名是否已经存在
    $("#name_register,#email_register").bind('input propertychange', function () {
        name = $("#name_register").val();
        email = $("#email_register").val();
        $.ajax({
            type: "POST",
            url: "{% url 'is_exist' %}",
            data: {name: name, email: email},
            dataType: "json",
            success: function (data) {
                if (data.msg_name != '' || data.msg_email != '') {
                    $("#button_register").attr({"disabled": "disabled"});
                } else {
                    $("#button_register").removeAttr("disabled");
                }
                $("#name_result").text(data.msg_name);
                $("#email_result").text(data.msg_email);
            }
        });
    });
    $("#password1,#password2").bind('input propertychange', function () {
        if ($("#password1").val().length < 8) {
            $("#password1_result").text("密码要八位以上哦")
        } else {
            if (isNaN($("#password1").val())) {
                $("#password1_result").text("")
            } else {
                $("#password1_result").text("密码不能全部是数字")
            }
        }
        if ($("#password1").val() != $("#password2").val()) {
            $("#password2_result").text("两次密码不一样")
        } else {
            $("#password2_result").text("")
        }
    });
    $("#logout").attr({"href": "{% url 'logout' %}?url=" + window.location.href})
</script>