body.base {
    background: url(../img/background.png) top;
    font-size: 16px;
    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", "sans-serif";
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", "sans-serif";
    font-weight: 500;
}

p {
    line-height: 1.6
}

span#name_result {
    color: red;
}

span#email_result {
    color: red;
}

span#password1_result {
    color: red;
}

span#password2_result {
    color: red;
}

body {

}

.navbar li:hover {
    background-color: #d9534f;
    text-decoration: none;

    transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
}

.navbar {
    width: 100%;
    border-radius: 0 !important;
    border: 0px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white !important;
}

.navbar-inverse .navbar-brand {
    color: white !important;
    border-radius: 0 !important;
    border: 0px;
}

.navbar-inverse .navbar-brand:hover {
    background-color: #d9534f;
    text-decoration: none;
    transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
}

blockquote {
    color: #777 !important;
    font-size: 16px !important;
}
