

pre.create_time {

}

.article_info {
    padding-bottom: 10px;
}

hr {
}

button.btn-success {
}

img {
    float: left;
}

body.base {
}

span.label {
}

.article_info {
    border-bottom: 1px solid #ddd;
}

.content {
    padding-top: 8px;
}

.article_display {
    background-color: white;
    box-shadow: 0 0px 5px #c2c2c2;
    position: relative;
}
.article_display h1 a{
	color: #3d4450;
}
.article_display h1{
	font-size: 32px;
	margin: 0 auto;
	text-align:center;
}

.data-article{
	background-color: #d9534f;
	border-color: #d43f3a;
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 100px;
    left: -20px;
    top: -20px;
    color: #fff;
    padding-top: 10px;
}
.article_display h1 a:hover {
    color: #d9534f;
    text-decoration: none;

    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
}

.data-article span.month,
.data-article  span.day{
	text-align: center;
	display: block;
}

.data-article span.month{
	margin: 0;
}

.data-article span.day{
	font-size: 30px;
	font-weight: bold;
	margin-top: -5px;
}