div.article_display {
    /*background-color: white;*/
    /*border: 1px solid #a1a1a1;*/
    /*padding: 10px 40px;*/
    /*border-radius: 5px;*/
    box-shadow: 2px 2px 5px #888888;
}

pre.create_time {

}
.article_info{
    padding-bottom: 10px;
}



hr {
}

button.btn-success {
}



img {
    float: left;
}

body.base {
}

span.label {
}

.article_info {
    border-bottom: 1px solid #ddd;
}

.content {
    padding-top: 8px;
}